* {
	box-sizing: border-box;
}

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; margin: 0; }

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
}

pre {
    text-align: initial;
}
